{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h2 class="font-weight-bold text-center">Quality hand crafted cupboards and shelving units made to measure.</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<h5 class="text-center">Select your chosen design from our range of stunning options then enter your required dimensions and shelf or rail requirements to get an instant online quote!</h5>
{% endblock%}