{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">

                <h2 class="logo-font my-4 text-center">Thank You For Your Order</h2>
                <hr>
                <p class="text-black text-center">Your order information is below. A confirmation email  {% if from_profile %}was {% else %}will be {% endif %}sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="order-confirmation-wrapper p-2 border mx-lg-5">
                    <div class="row">
                        <div class="col">
                            <small class="">Order Info</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Order Number:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 order-number">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <p class="mb-2 text-black font-weight-bold">Order Date:</p>
                        </div>
                        <div class="col-7 text-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="">Order Details</small>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <p class="mb-0 text-black">{{ item.cupboard.name }}:</p>
                            <p class="small mb-0 mb-md-2">{{item.dims}}
                            </p>
                        </div>
                        <div class="col-12 col-md-3 text-right">
                            <p class=" mb-0">{{ item.quantity }} @ £{{ item.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            <small class="">Delivering To</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <p class="mb-0 text-black font-weight-bold">Full Name:</p>
                        </div>
                        <div class="col-7 text-right">
                            <p class="mb-0">{{ order.full_name | title }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <p class="mb-0 text-black font-weight-bold">Address 1:</p>
                        </div>
                        <div class="col-7 text-right">
                            <p class="mb-0">{{ order.street_address1 | title }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-5">
                            <p class="mb-0 text-black font-weight-bold">Address 2:</p>
                        </div>
                        <div class="col-7 text-right">
                            <p class="mb-0">{{ order.street_address2 | title }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-5">
                            <p class="mb-0 text-black font-weight-bold">County:</p>
                        </div>
                        <div class="col-7 text-right">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-5">
                            <p class="mb-0 text-black font-weight-bold">Town or City:</p>
                        </div>
                        <div class="col-7 text-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-5">
                            <p class="mb-0 text-black font-weight-bold">Post Code:</p>
                        </div>
                        <div class="col-7 text-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-5">
                            <p class="mb-0 text-black font-weight-bold">Country:</p>
                        </div>
                        <div class="col-7 text-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <p class="mb-2 text-black font-weight-bold">Phone:</p>
                        </div>
                        <div class="col-7 text-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="">Billing Info</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <p class="mb-0 text-black font-weight-bold">Order Total:</p>
                        </div>
                        <div class="col-7 text-right">
                            <p class="mb-0">£{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <p class="mb-0 text-black font-weight-bold">Delivery:</p>
                        </div>
                        <div class="col-7 text-right">
                            <p class="mb-0">£{{ order.delivery }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <p class="mb-0 text-black font-weight-bold">Grand Total:</p>
                        </div>
                        <div class="col-7 text-right">
                            <p class="mb-0">£{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 pt-0 pb-3 text-center">
                {% if from_profile %}
                        <a href="{% url 'profile' %}" class="ml-3 text-black">
                            <h4>Back to profile</h4>
                        </a>
                {% else %}
                <a href="{%url 'cupboards'%}?type=cupboard,shelving" class="ml-3 text-black">
                    <h4>Back to designs</h4>
                </a>
                {% endif %}
                </h4>
            </div>
		</div>
    </div>
{% endblock %}