<div class="confirm-container d-none justify-content-center align-items-center" id="cfmDel{{cupboard.id}}" >
  <div class="toast rounded-0 border-top-0 confirm" data-autohide="false">
    <div class="confirm-overlay"></div>
    <div class="toast-header toast-warning darken-1">
        <strong class="mr-auto">Warning!</strong>

    </div>
    <div class="toast-body toast-warning text-center">
        <p>You are about to delete the design "{{cupboard.name}}"</p>
        <a href="{% url 'delete_design' cupboard.id %}" class="">
            <button class="confirm-del-btn border-0 btn light-theme-color rounded-0  mb-0 text-center"
                type="button" onclick="closeCfmDelDesign()"><strong>Confirm Delete</strong></button></a>

        <button type="button" class="confirm-del-btn border-0 btn light-theme-color rounded-0  mb-0 text-center"
            onclick="closeCfmDelDesign()" aria-label="Close">
            <span aria-hidden="true"><strong>Cancel</strong></span>
        </button>
    </div>
</div>
</div>