{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="logo-font my-4 text-center">Product Management</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <h5 class="text-center">Add a Design</h5>
                <form method="POST" action="{% url 'add_design' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form1 %}
                        {% if field.name != 'main_image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-center mt-1 mb-4">
                        <button class="btn red-theme-color rounded-0 font-weight-bold" type="submit">Add Design</button>
                        <a class="btn light-theme-color rounded-0 font-weight-bold cancel-btn" href="{%url 'cupboards'%}?type=cupboard,shelving">Cancel</a>
                    </div>
                </form>
            </div>            

        <div class="col-12 col-md-6">
            <h5 class="text-center">Add a Material</h5>
            <form method="POST" action="{% url 'add_material' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form2 | crispy }}
                <div class="text-center my-4">
                    <button class="btn red-theme-color rounded-0 font-weight-bold" type="submit">Add Material</button>
                    <a class="btn light-theme-color cancel-btn rounded-0 font-weight-bold" href="{%url 'cupboards'%}?type=cupboard,shelving">Cancel</a>
                </div>
            </form>
         
        </div>  
        </div>       
    </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}